---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';
import { Image } from '@astrojs/image/components';

const posts = (await Astro.glob('./posts/*.md')).sort(
	(a: any, b: any) => {
		return new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf();
	}
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <style>
			/**
			 * Nord Theme Originally by Arctic Ice Studio
			 * https://nordtheme.com
			 *
			 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
			 */

			code[class*="language-"],
			pre[class*="language-"] {
				color: #f8f8f2;
				background: none;
				font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
				text-align: left;
				white-space: pre;
				word-spacing: normal;
				word-break: normal;
				word-wrap: normal;
				line-height: 1.5;
				-moz-tab-size: 4;
				-o-tab-size: 4;
				tab-size: 4;
				-webkit-hyphens: none;
				-moz-hyphens: none;
				-ms-hyphens: none;
				hyphens: none;
			}

			/* Code blocks */
			pre[class*="language-"] {
				padding: 1em;
				margin: .5em 0;
				overflow: auto;
			  -ms-overflow-style: none; /* Edge, Internet Explorer */
			  scrollbar-width: none; /* Firefox */
				overflow-y: scroll;
				border-radius: 12px;
				padding-left: 16px;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			pre[class*="language-"]::-webkit-scrollbar {
			  display: none; /* Chrome, Safari, Opera */
			}

			:not(pre) > code[class*="language-"],
			pre[class*="language-"] {
				background: #2E3440;
			}

			/* Inline code */
			:not(pre) > code[class*="language-"] {
				padding: .1em;
				border-radius: .3em;
				white-space: normal;
			}

			.token.comment,
			.token.prolog,
			.token.doctype,
			.token.cdata {
				color: #636f88;
			}

			.token.punctuation {
				color: #81A1C1;
			}

			.namespace {
				opacity: .7;
			}

			.token.property,
			.token.tag,
			.token.constant,
			.token.symbol,
			.token.deleted {
				color: #81A1C1;
			}

			.token.number {
				color: #B48EAD;
			}

			.token.boolean {
				color: #81A1C1;
			}

			.token.selector,
			.token.attr-name,
			.token.string,
			.token.char,
			.token.builtin,
			.token.inserted {
				color: #A3BE8C;
			}

			.token.operator,
			.token.entity,
			.token.url,
			.language-css .token.string,
			.style .token.string,
			.token.variable {
				color: #81A1C1;
			}

			.token.atrule,
			.token.attr-value,
			.token.function,
			.token.class-name {
				color: #88C0D0;
			}

			.token.keyword {
				color: #81A1C1;
			}

			.token.regex,
			.token.important {
				color: #EBCB8B;
			}

			.token.important,
			.token.bold {
				font-weight: bold;
			}

			.token.italic {
				font-style: italic;
			}

			.token.entity {
				cursor: help;
			}

		</style>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[60px]">
			<Masthead/>
			<Content>
				<section>
					<p class="mb-6 text-center text-xl p-2">
						簡單的生活日誌，紀錄由開發、活動、旅遊以及各種瑣事拼湊成的日常
					</p>
				</section>
				<section>
					<ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
						{posts.map((post) => {
							return (
								<li class="text-center mb-4">
									<a class="group" href={post.url}>
										<Image class="border-2 border-sky-200 dark:border-gray-800 rounded-xl md:group-hover:scale-[1.03] transition-transform duration-300" src={post.frontmatter.thumbnail} width={720*2} aspectRatio={2} alt="Thumbnail" />
										<div class="mt-3 text-xl group-hover:underline underline-offset-2">{post.frontmatter.title}</div>
										<div class="opacity-70 group-hover:underline underline-offset-2">{post.frontmatter.description}</div>
									</a>
								</li>
							);
						})}
					</ul>
				</section>
			</Content>
		</main>
		<p class="text-gray-500 pt-4 text-center">此網站開發受 <a class="underline underline-offset-2 hover:text-gray-700 dark:hover:text-gray-400 transition-colors duration-50" href="https://www.craftz.dog/">Takuya Matsuyama</a> 的<a class="underline underline-offset-2 hover:text-gray-700 dark:hover:text-gray-400 transition-colors duration-50" href="https://www.youtube.com/watch?v=3_JE76PKBWE">影片</a>啟發，將其中的 CMS 由 Inkdrop 改為 Notion 實現</p>
		<Footer />
	</Body>
</html>
