---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		thumbnail: string;
		createdAt: string;
		lastEditedAt: string;
		tags: Array<string>;
	};
}

const {
	content: { title, description, thumbnail, createdAt, lastEditedAt, tags },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/prism-nord.css">
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="pt-[60px]">
      <Content className="pt-6 leading-8">
        <div class="mb-8">
          {
            thumbnail && (
              <img
                class="border border-sky-200 dark:border-gray-800 rounded-xl"
                width={720}
                height={360}
                src={thumbnail}
                alt=""
              />
            )
          }
        </div>
        <div class="text-4xl my-1 font-mplus font-semibold">{title}</div>
        <div class="text-lg font-mplus pt-1">{description}</div>
        <hr class="border-top border-gray-500 my-2" />
				<div class="pb-9">發布於 {new Date(createdAt).toLocaleDateString("zh-TW")} • 最後修改於 {new Date(lastEditedAt).toLocaleDateString("zh-TW")}</div>
        <slot />
        <a hidden class="underline underline-offset-2 hover:text-sky-500 decoration-sky-500 dark:hover:text-sky-400 dark:decoration-sky-400 text-2xl transition-colors duration-50"/>
				<h1 hidden class="text-4xl font-bold font-mplus py-1 pt-8"/>
				<h2 hidden class="text-2xl font-bold font-mplus py-1 pt-6"/>
				<h3 hidden class="text-xl font-bold font-mplus py-1 pt-4"/>
				<ul hidden class="list-disc list-inside pl-2" />
				<ol hidden class="list-decimal list-inside" />
      </Content>
    </main>
    <Footer />
  </Body>
</html>